body {
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  padding: 0;
  margin: 0;
  width: 100 vw;
  overflow: overlay;
  margin: auto;
  width: 60vw;
}

h1 {
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p.main-info {
  font-size: 1.4em;
  margin-bottom: 1em;
}

#content-container {
  margin: 0;
  padding: 0;
  color: black;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -ms-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

#content-container.fade {
  color: white;
  height: 0;
  z-index: -1;
}

form {
  font-size: 1.4em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 2em 0em 2em 0em;
  border: 1px solid blue;
}

#results {
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

#results.show {
  opacity: 1;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
  z-index: 1;
}

article h2 {
  font-size: 2em;
  color: blue;
  padding-bottom: 1em;
}

article a {
  font-size: 1.4em;
  text-decoration: none;
  background: blue;
  color: white;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

article a:hover {
  background: yellow;
  color: blue;
}

article a:visited {
  background: yellow;
  color: blue;
}

article p {
  font-size: 1.4em;
  line-height: 1.5;
}

article {
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  text-align: center;
  border-bottom: 1px solid blue;
  
}

article ul {
  text-align: center;
  margin-left: 0;
  padding-right: 0;
  padding: 1em 0em 1em 0em;
  font-size: 1.4em;
}

article li {
  list-style: none;
  padding: 0.5em 0em 0.5em 0em;
}

img {
  float: right;
  margin-left: 20px;
  max-width: 200px;
}

input[type=date] {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid black;
  background: transparent;
  text-align: center;
}

input[type=date]:hover {
  border-color: blue;
  background: blue;
  color: white;
}

::-webkit-datetime-edit-month-field { text-transform: uppercase; }
::-webkit-datetime-edit-day-field { text-transform: uppercase; }
::-webkit-datetime-edit-year-field { text-transform: uppercase; }
::-webkit-calendar-picker-indicator { background: transparent;}

button.submit {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button.submit:hover {
  background: blue;
  color: white;
  border-color: blue;
}

@media screen and (max-width: 850px) {
  body {
    width: 90vw;
  }
}