* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

/* The sidebar menu */
.sidenav {
  width: 112px; /* Set the width of the sidebar */
  height: 346px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  background-color: white;
}

/* The navigation menu links */
.sidenav a {
  color: black;
  padding-top: 7px;
  padding-left: 16px;
  text-decoration: none;
  display: block;
}

/* The following six rules relate to the links in the navigation menu. */
.homepage-title {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 25px;
}

.homepage-title.active {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 25px;
  color: black;
}

.link-title {
  font-size: 16px;
}

.link-title.active {
  font-size: 16px;
  color: grey;
}

.sub-title {
  font-size: 14px;
  margin-left: 12px;
  font-style: italic;
}

.sub-title.active {
  font-size: 14px;
  margin-left: 12px;
  font-style: italic;
  color: grey;
}

/* Style page content */
.right {
  margin-top: 50px;
  margin-left: 150px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.responsive {
  width: 100%;
  max-width: 1200px;
  height: auto;
  align-content: center;
  justify-content: center;
}

#carousel {
  margin-left: 200px;
  width: 100%;
  height: 610px;
  background-color: white;
  overflow: visible;
  white-space: nowrap;
}


#carousel .slide {
  display: inline-block;
}

/* Width of the blog content. */
.blogcontent {
  width: 60%;
}

/* The next five rules relate to the styling of the main content on the homepage. */
.indexpage {
  background-color: #ffbb99;
}

.indexpage.right {
  color: white;
  font-weight: bolder;
}

.indexfirst {
  font-size: 6vw;
}

.indexsecond {
  font-size: 5.2vw;
}

.indexsecond a {
  text-decoration: none;
  color: plum
}

/* The next five rules relate to the styling of the main content on the comics page. */
.comicspage {
  background-color: #36560A;
}

.comicspage.right {
  color: white;
  font-weight: bolder;
}

.comicsfirst {
  font-size: 6vw;
}

.comicssecond {
  font-size: 5.2vw;
}

.comicssecond a {
  text-decoration: none;
  color: #E4B22B;
}

/* The next five rules relate to the styling of the main content on the photo page. */
.photopage {
  background-color: #0C6F89;
}

.photopage.right {
  color: white;
  font-weight: bolder;
}

.photofirst {
  font-size: 6vw;
}

.photosecond {
  font-size: 5.2vw;
}

.photosecond a {
  text-decoration: none;
  color: #D99333;
}
