* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

html, body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  
  background-image: url('images/menu/slit-scan.jpg');
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 70vh;
  
  z-index: -2;
  text-transform: uppercase;
}

#image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 70vh;
  mix-blend-mode: difference;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 2em 3em 0em 3em;
  color: white;
}

#title-image {
  height: 3em;
}

header>a {
  text-decoration: none;
  font-weight: 300;
  font-size: 2em;
  color: black;
  mix-blend-mode: difference;
}

header>a:hover {
  text-decoration: line-through;
  text-decoration-color: gold;
}

main {
  padding-top: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

nav {
  margin: auto;
  padding: 75px 0 75px 0;
  align-items: center;
}

nav ol {
  list-style: none;
  counter-reset: counter;
  padding: 0;
  margin: 0;
}

nav ol li {
  counter-increment: counter;
  font-size: 5em;
  font-weight: 600;
  margin: 0;
  padding: 0.2em 0 0.2em 0;
}

nav ol li::before {
  font-family: 'IBM Plex Mono', monospace;
  content: counter(counter) ". ";
  color: black;
  font-weight: 200;
  font-size: 0.25em;
}

a.nav-option {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}

a.nav-option:hover {
  text-decoration: line-through;
  text-decoration-color: gold;
}

.gallery {
  height: 100%;
  padding: 75px 75px 10px 75px;
  white-space: nowrap;
}

.gallery-image {
  display: inline-block;
  height: 100%;
  max-height: 90vh;
  padding: 10px 50px 10px 50px;
}

.gif {
  width: 100%;
  max-width: 500px !important;
  height: auto !important;
}

iframe {
  height: 90vh;
  width: 80vw;
}

main.project-wrapper {
  display: inline-block;
  padding: 75px 5% 0 5%;
}

.project-content-wrapper {
  width: 40%;
  padding: 0 20px 50px 20px;
  float: left;
  font-size: 2em;
}

.project-content-wrapper>p {
  text-transform: none;
}

.project-content-wrapper>p>a {
  color: black;
}

.project-content-wrapper>p>a:hover {
  text-decoration: line-through;
  text-decoration-color: gold;
}

.project-media-wrapper {
  width: 60%;
  padding: 0 20px 50px 20px;
  float: right;
}

.project-media {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2em;  
  font-weight: 300;
}

#link-container>a {
  text-decoration: none;
  color: black;
}

#link-container>a:hover {
  text-decoration: line-through;
  text-decoration-color: gold;
}

#about {
  width: 40vh;
  min-width: 600px;
  margin: auto;
}

.about-content {
  padding-top: 75px;
  padding-bottom: 200px;
  mix-blend-mode: difference;
  color: white;
}

.about-content ol {
  list-style: none;
  counter-reset: about-counter;
  padding: 0;
  margin: 0;
}

.about-content ol li:first-of-type {
  font-size: 5em;
  font-weight: 600;
  text-transform: uppercase;
}

.about-content ol li {
  counter-increment: about-counter;
  font-size: 3em;
  text-transform: none;
  margin: 0;
  padding: 10px 0 10px 0;
}

.about-content ol li::before {
  font-family: 'IBM Plex Mono', monospace;
  content: counter(about-counter) ". ";
  color: white;
  font-weight: 200;
  font-size: 14px;
}




/* Mobile/Tablet -----------------------------------------------------------------------*/

@media screen and (max-width: 850px) {

}