* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

.content {
  margin-left: 250px;
  margin-top: 70px;
}

#title-image {
  width: 200px;
}

/* The sidebar menu */
.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: white;
  padding-top: 50px;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  padding: 7px 1px 7px 50px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding: 10px 1px 10px 15px;
}

.nav-title-container {
  padding-bottom: 40px;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

.nav-option {
  font-size: 16px;
}

.responsive {
  width:100%;
  max-width: 1000px;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 50px;
  display: block;
}

/* Width of the blog content. */
.blogpost {
  margin-left: 40px;
  width: 60%;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .sidenav {
    width:100%;
  }
}

/*
@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
*/