* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

.content {
  margin-left: 112px;
}

/* The sidebar menu */
.sidenav {
  width: 112px; /* Set the width of the sidebar */
  height: 100%;
  float: left;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: white;
}

/* The navigation menu links */
.sidenav a {
  color: black;
  padding-top: 7px;
  padding-left: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: white;
  color: grey;
}

/* The following six rules relate to the links in the navigation menu. */
.nav-title-level-0 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 25px;
}

.nav-title-level-0.active {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 25px;
  color: black;
}

.nav-title-level-1 {
  font-size: 16px;
}

.nav-title-level-1.active {
  font-size: 16px;
  color: grey;
}

.nav-title-level-2 {
  font-size: 14px;
  margin-left: 12px;
  font-style: italic;
}

.nav-title-level-2.active {
  font-size: 14px;
  margin-left: 12px;
  font-style: italic;
  color: grey;
}

.responsive {
  max-width: 1000px;
  max-height: 1000px;
  height: auto;
  width:auto;
  padding-bottom: 30px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Width of the blog content. */
.blogpost {
  margin-left: 40px;
  width: 60%;
}